button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 5vw;
  font-size: 2rem;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

#wrapper {
  margin: 5% 50vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div#display {
  display: flex;
  width: 200px;
  background-color: #858693;
}

#row {
  display: flex;
}

#zero {
  width: 20vw;
}
